html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.fpnt {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal !important;
    padding-top: 12px;
}

.navbar {
    display: flex;
    background-color: #C0C0C0;
    padding-left: 77px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 0px;
    border-top: 0px;
}

.font {
    color: black;
    font-weight: normal !important;
    text-decoration: none;
    padding-top: 10px;
    transition: 0.15s;
}

.font2 {
    color: black;
    font-weight: normal !important;
    text-decoration: none;
    transition: 0.15s;
    padding-top: 10px;
}


.firstnav {
    font-size: 14px;
    font-family: Calibri, sans-serif;
    display: flex;
    justify-content: space-between;
    flex: 0.5; /* Adjust the flex value to control the space it takes */
    gap: 8px; /* Adjust gap to control the spacing between items */
}

.secondnav {
    display: flex;
    gap: 20px; /* Adds spacing between items */
    font-size: 14px;
    font-family: Calibri, sans-serif;
    padding-right: 100px;
}

.secondnav button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }


.big_background {
    background-color: black;
    padding-top: 170px; /* Padding inside the black box */
    padding-left: 95px;
    padding-bottom: 175px;
    max-width: 100%; /* Adjust as needed to control width */
    margin: 0 auto; /* Center the box horizontally */
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align children to the start (left side) */
    max-height: 600px;
}

#blurb {
    color: #66FFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
}

#white-w {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote {
    color: white;
    font-family: Lucida Console;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 95px;
    padding-left: 700px;
}

.dash {
    color: white;
    font-family: Lucida Console;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    padding-left: 1150px;
}

.inves {
    padding-bottom: 20px;
}

#Welcome {
    background-color: #C0C0C0;
    padding-top: 20px; /* Padding inside the black box */
    padding-left: 634px;
    padding-bottom: 20px;
    max-width: 100%; /* Adjust as needed to control width */
    margin: 0 auto; /* Center the box horizontally */
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    display: flex; /* Enable Flexbox */
    flex-direction: row; /* Stack children vertically */
    align-items: flex-start; /* Align children to the start (left side) */
    max-height: 600px;
    text-align: center;
    font-family: Verdana, sans-serif, sans-serif;
    font-weight: normal;
    font-size: 140%;
    transition: 0.25s;
}

#Welcome:hover {
    background-color: white !important;
    transform: scale(1.075);
    
}

#welcome-blurb {
    display: flex;
    background-color: black;
    color: white;
    font-family: Lucida Console;
    text-align: center;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 100%; /* Adjust as needed to control width */
    margin: 0 auto; /* Center the box horizontally */
    box-sizing: border-box;
    font-weight: normal !important;
}

.scrolla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 200px;
    padding-top: 50px;
    background-color: black;
    padding-bottom: 80px;
}

#scrollButton {
    background-color: black;
    color: #66FFFF;
    font-family: 'Lucida Console', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #66FFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    display: block;
}

#scrollButton:hover {
    background-color: #C0C0C0;
}

#scrollButton:active {
    background-color: goldenrod;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}






.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 2;
    gap: 70px;
    padding-top: 50px;
    background-color: black;
    padding-bottom: 200px;
}

.boxinside1 {
    display: flex;

    font-family: 'Secular One', sans-serif;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 11px;
    padding-top: 16px;
    padding-bottom: 80px;
    border: 2px solid #66FFFF;
    border-radius: 11px;
    border-width: 5px;
    align-items: center;
    flex-direction: column;
    max-width: 400px; /* Set a reasonable max-width */
    box-sizing: border-box; /* Ensure padding is included in the total width */
    transition: 0.15s;

}

.boxinside1:hover {
    transform: scale(1.125);
}

.boxinside2:hover {
    transform: scale(1.125);
}

.boxinside3:hover {
    transform: scale(1.125);
}


.boxinside2 {
    display: flex;

    font-family: 'Secular One', sans-serif;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 11px;
    padding-top: 16px;
    padding-bottom: 90px;
    border: 2px solid #66FFFF;
    border-radius: 11px;
    border-width: 5px;
    align-items: center;
    flex-direction: column;
    max-width: 400px; /* Set a reasonable max-width */
    box-sizing: border-box; /* Ensure padding is included in the total width */
    transition: 0.15s;

}

.boxinside3 {
    display: flex;

    font-family: 'Secular One', sans-serif;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 11px;
    padding-top: 16px;
    padding-bottom: 50px;
    border: 2px solid #66FFFF;
    border-radius: 11px;
    border-width: 5px;
    align-items: center;
    flex-direction: column;
    max-width: 400px; /* Set a reasonable max-width */
    box-sizing: border-box; /* Ensure padding is included in the total width */
    transition: 0.15s;

}

.boximag1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.boximag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.boximag3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgurs1b {
    margin-bottom: 40px;
}


.box1text {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 20px; /* Adjust padding */
    text-align: center; /* Optional: Center align the text */
    word-wrap: break-word; /* Ensure long words wrap properly */
}

.box2text {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 20px; /* Adjust padding */
    text-align: center; /* Optional: Center align the text */
    word-wrap: break-word; /* Ensure long words wrap properly */
}

.box3text {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 20px; /* Adjust padding */
    text-align: center; /* Optional: Center align the text */
    word-wrap: break-word; /* Ensure long words wrap properly */
}

.infobar {
    background-color: #C0C0C0;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Distribute space between child elements */
    max-height: 600px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

.myname {
    align-self: flex-end; /* Align this item to the end of the flex container */
    padding-right: 20px;
}

.copyright {
    align-self: flex-start; /* Align this item to the start of the flex container */
}

.butan {
    background-color: black;
    padding-top: 10px;
    
    padding-bottom: 10px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Distribute space between child elements */
    max-height: 600px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

#scrollButton {
    background-color: black;
    color: #66FFFF;
    font-family: 'Lucida Console', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #66FFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    display: block;
    transition: 0.15s;
}


#scrollButton:hover {
    transform: scale(1.325);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: px;
    padding-bottom: 20px;
    max-height: 50px;
}




.buttonback {
    background-color: black;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-height: 600px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 11px;
}


.font:hover {
    transform: scale(1.325);
    background-color:black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 2px;
    max-height: 28px;
}

.font2:hover {
    transform: scale(1.325);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
    max-height: 28px;
    background-color:black;
    color: white;

}


.homepic {
    transition: 0.15s;
}

.homepic:hover {
    transform: scale(1.2);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 16px;
    max-height: 28px;
}





#offButton {
    transition: opacity 0.05s ease-in-out; /* Adjust duration and easing as needed */
  }


#offButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: 0.15s;
    transition: opacity 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  
#offButton img {
    display: block; /* To prevent unwanted spacing */
 }


#offButton:hover {
    transform: scale(1.225);
}









































/* page2 */


